[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak, .ng-hide:not(.ng-hide-animate) {
    display: none !important;
}

ng\:form {
    display: block;
}

.lookupXNFFMO, .lookupforemostXNFFMO, .lookupdockedXNFFMO, .rowiframeXNFFMO, .celliframeXNFFMO, .iframeXNFFMO, .emptyXNFFMO, .barXNFFMO, .barforemostXNFFMO, .bardockedXNFFMO, .cellXNFFMO, .leftXNFFMO, .rightXNFFMO, .buttoncontainerXNFFMO, .buttonXNFFMO, .buttonimageXNFFMO, .waitingXNFFMO, .handleXNFFMO, .queryXNFFMO, .hintXNFFMO, .templateXNFFMO, .firstlevelgroupXNFFMO, .notfirstlevelgroupXNFFMO {
    background: none !important;
    border: 0px !important;
    border-style: none !important;
    color: black !important;
    direction: ltr !important;
    float: none !important;
    font-family: sans-serif !important;
    font-size: small !important;
    font-style: normal !important;
    font-variant: normal !important;
    font-weight: normal !important;
    letter-spacing: normal !important;
    line-height: normal !important;
    margin: 0px !important;
    padding: 0px !important;
    text-align: left !important;
    text-decoration: none !important;
    text-indent: 0px !important;
    text-transform: none !important;
    vertical-align: baseline !important;
    white-space: normal !important;
}

div.lookupXNFFMO {
    display: table !important;
    -webkit-transition: -webkit-box-shadow 0.25s linear, border-color 0.25s linear !important;
}

div.lookupforemostXNFFMO {
}

div.lookupdockedXNFFMO {
}

div.rowiframeXNFFMO {
    display: table-row !important;
}

    div.rowiframeXNFFMO td.celliframeXNFFMO {
        display: table-cell !important;
        width: 100% !important;
        height: 100% !important;
    }

td.celliframeXNFFMO iframe.iframeXNFFMO {
    display: inline !important;
    width: 100% !important;
    height: 100% !important;
    background-color: white !important;
}

iframe.emptyXNFFMO {
    background-image: url('chrome-extension://hljnlfolmbmibdjaikiaepgepgnldclj/img/128.png') !important;
    background-position: 50% 50% !important;
    background-repeat: no-repeat !important;
}

div.barXNFFMO {
    display: table-row !important;
    -webkit-transition: background 0.25s linear !important;
    width: 100% !important;
    cursor: move !important;
    background: lightgrey !important;
}

div.barforemostXNFFMO {
    background: #84b7ea !important;
}

div.bardockedXNFFMO {
    background: #336699 !important;
}

div.barXNFFMO div.cellXNFFMO {
    display: table-cell !important;
    vertical-align: middle !important;
}

div.leftXNFFMO {
    padding-right: 16px !important;
    text-align: left !important;
}

div.rightXNFFMO {
    white-space: nowrap !important;
    text-align: right !important;
}

span.buttoncontainerXNFFMO {
    display: inline !important;
}

a.buttonXNFFMO:link {
    display: inline !important;
    -webkit-user-select: none !important;
    color: transparent !important;
}

a.buttonXNFFMO img.buttonimageXNFFMO {
    display: inline !important;
    vertical-align: middle !important;
}

img.waitingXNFFMO {
    display: inline !important;
    cursor: pointer !important;
    -webkit-user-select: none !important;
    vertical-align: middle !important;
    padding-left: 6px !important;
    padding-right: 6px !important;
}

div.handleXNFFMO {
    display: block !important;
    cursor: se-resize !important;
    left: 100% !important;
    top: 100% !important;
    margin-left: -4px !important;
    margin-top: -4px !important;
    position: absolute !important;
    width: 8px !important;
    height: 8px !important;
}

input.queryXNFFMO {
    display: inline-block !important;
    background: white !important;
    vertical-align: top !important;
    border: 1px solid darkgrey !important;
    font-size: 13px !important;
    padding-top: 1px !important;
    padding-bottom: 1px !important;
    width: 12em !important;
}

.hintXNFFMO {
    color: lightgrey !important;
    font-style: italic !important;
}

select.templateXNFFMO {
    display: inline-block !important;
    background: white !important;
    font-size: 13px !important;
    border: 1px solid darkgrey !important;
    vertical-align: top !important;
    white-space: pre !important;
    width: 9em !important;
    margin-right: 2px !important;
}

optgroup.firstlevelgroupXNFFMO {
    color: blue !important;
}

.notfirstlevelgroupXNFFMO {
    color: black !important;
}

.tipEHSCMU, .arrowEHSCMU, .arrowupEHSCMU, .arrowdownEHSCMU, .mainEHSCMU, .closeEHSCMU, .barEHSCMU, .rowEHSCMU, .cellEHSCMU, .leftEHSCMU, .rightEHSCMU, .displaytitleEHSCMU, .refreshEHSCMU, .pagingEHSCMU, .brandEHSCMU, .textEHSCMU, .leftlabelEHSCMU, .selectEHSCMU, .checkboxEHSCMU, .waitingEHSCMU, .buttoncontainerEHSCMU, .buttonEHSCMU, .buttonimageEHSCMU, .flagEHSCMU, .noticebarscontainerEHSCMU, .noticebarEHSCMU, .iframecontentEHSCMU {
    background: none !important;
    border: 0px !important;
    border-style: none !important;
    color: black !important;
    direction: ltr !important;
    float: none !important;
    font-family: sans-serif !important;
    font-size: small !important;
    font-style: normal !important;
    font-variant: normal !important;
    font-weight: normal !important;
    letter-spacing: normal !important;
    line-height: normal !important;
    margin: 0px !important;
    padding: 0px !important;
    text-align: left !important;
    text-decoration: none !important;
    text-indent: 0px !important;
    text-transform: none !important;
    vertical-align: baseline !important;
    white-space: normal !important;
}

div.tipEHSCMU {
    position: absolute !important;
    display: block !important;
}

div.arrowEHSCMU {
    display: block !important;
}

canvas.arrowupEHSCMU {
    display: inline !important;
    vertical-align: bottom !important;
}

canvas.downupEHSCMU {
    display: inline !important;
    vertical-align: top !important;
}

div.mainEHSCMU {
    display: block !important;
}

img.closeEHSCMU {
    display: block !important;
    -webkit-transition: opacity 0.5s linear !important;
    float: right !important;
    margin-right: -5px !important;
    margin-top: -5px !important;
}

div.barEHSCMU {
    display: table !important;
    margin-bottom: 4px !important;
    -webkit-user-select: none !important;
    width: 100% !important;
}

div.rowEHSCMU {
    display: table-row !important;
}

div.cellEHSCMU {
    display: table-cell !important;
    vertical-align: middle !important;
}

.leftEHSCMU {
    padding-right: 16px !important;
    text-align: left !important;
}

.rightEHSCMU {
    text-align: right !important;
}

span.refreshEHSCMU {
    display: inline !important;
}

span.pagingEHSCMU {
    display: inline !important;
    font-size: x-small !important;
}

span.buttoncontainerEHSCMU {
    display: inline !important;
}

span.displaytitleEHSCMU {
    display: inline !important;
    padding-left: 6px !important;
    font-size: small !important;
    font-weight: bold !important;
}

    span.displaytitleEHSCMU a:link {
        display: inline !important;
        color: #0645AD !important;
        text-decoration: none !important;
    }

    span.displaytitleEHSCMU img {
        display: inline !important;
    }

span.brandEHSCMU {
    display: inline !important;
    font-size: x-small !important;
}

.brandEHSCMU a {
    display: inline !important;
    font-size: x-small !important;
}

    .brandEHSCMU a:link {
        display: inline !important;
        color: #0645AD !important;
        text-decoration: none !important;
    }

    .brandEHSCMU a:visited {
        display: inline !important;
        color: #0B0080 !important;
        text-decoration: none !important;
    }

span.textEHSCMU {
    display: inline !important;
    font-size: x-small !important;
}

label.leftlabelEHSCMU {
    display: inline !important;
    font-size: x-small !important;
    margin-right: 3px !important;
}

select.selectEHSCMU {
    display: inline-block !important;
    border: 1px solid darkgrey !important;
    white-space: pre !important;
    font-size: x-small !important;
}

input.checkboxEHSCMU {
    display: inline-block !important;
    vertical-align: text-top !important;
    font-size: x-small !important;
    margin-right: 0.3em !important;
}

img.waitingEHSCMU {
    display: inline !important;
    -webkit-user-select: none !important;
    vertical-align: middle !important;
    padding-left: 3px !important;
}

a.buttonEHSCMU, a.buttonEHSCMU:link {
    display: inline !important;
    -webkit-user-select: none !important;
    color: transparent !important;
    margin-right: 2px !important;
}

img.buttonimageEHSCMU {
    display: inline !important;
    vertical-align: middle !important;
}

img.flagEHSCMU {
    display: inline !important;
    vertical-align: middle !important;
    padding-bottom: 2px !important;
}

img.buttonselectedEHSCMU {
    display: inline !important;
    background: #dd8 !important;
    border: 1px solid #bb6 !important;
    margin: -1px !important;
    border-radius: 2px !important;
}

div.noticebarscontainerEHSCMU {
    display: block !important;
    text-align: left !important;
    margin-bottom: 4px !important;
    overflow-y: auto !important;
}

div.noticebarEHSCMU {
    display: block !important;
    background: white !important;
    font-size: x-small !important;
    border-left: 3px solid lightGrey !important;
    margin-bottom: 1px !important;
    padding-left: 2px !important;
}

    div.noticebarEHSCMU img {
        display: inline !important;
        margin-right: 1px !important;
        vertical-align: text-top !important;
    }

    div.noticebarEHSCMU a {
        display: inline !important;
        font-family: sans-serif !important;
        font-style: normal !important;
        font-variant: normal !important;
        font-weight: normal !important;
        font-size: x-small !important;
    }

        div.noticebarEHSCMU a:link {
            display: inline !important;
            color: #0645AD !important;
            text-decoration: none !important;
        }

        div.noticebarEHSCMU a:visited {
            display: inline !important;
            color: #0B0080 !important;
            text-decoration: none !important;
        }

iframe.iframecontentEHSCMU {
    display: inline !important;
    width: 100% !important;
}

/* Copyright 2014 Evernote Corporation. All rights reserved. */
.en-markup-crop-options {
    top: 18px !important;
    left: 50% !important;
    margin-left: -100px !important;
    width: 200px !important;
    border: 2px rgba(255,255,255,.38) solid !important;
    border-radius: 4px !important;
}

    .en-markup-crop-options div div:first-of-type {
        margin-left: 0px !important;
    }

.simplehl1_FJHZNF {
    display: inline !important;
    font-family: inherit !important;
    font-style: inherit !important;
    font-variant: inherit !important;
    font-weight: inherit !important;
    border-color: transparent !important;
    color: #000000 !important;
    background-color: rgba(255,0,0,0.7) !important;
    font-size: inherit !important;
    -webkit-transition-property: color, background-color, -webkit-box-shadow;
    -webkit-transition-duration: 0.5s, 0.5s, 0.5s;
    -webkit-transition-timing-function: linear, linear, linear;
    padding: 0.2em !important;
    -webkit-box-shadow: rgba(0,0,0,0.42) 3px 3px 4px !important;
    border-radius: 6px !important;
}

.simplehl2_FJHZNF {
    display: inline !important;
    font-family: inherit !important;
    font-style: inherit !important;
    font-variant: inherit !important;
    font-weight: inherit !important;
    border-color: transparent !important;
    color: #000000 !important;
    background-color: rgba(255,165,0,0.7) !important;
    font-size: inherit !important;
    -webkit-transition-property: color, background-color, -webkit-box-shadow;
    -webkit-transition-duration: 0.5s, 0.5s, 0.5s;
    -webkit-transition-timing-function: linear, linear, linear;
    padding: 0.2em !important;
    -webkit-box-shadow: rgba(0,0,0,0.42) 3px 3px 4px !important;
    border-radius: 6px !important;
}

.simplehl3_FJHZNF {
    display: inline !important;
    font-family: inherit !important;
    font-style: inherit !important;
    font-variant: inherit !important;
    font-weight: inherit !important;
    border-color: transparent !important;
    color: #000000 !important;
    background-color: rgba(255,255,96,0.7) !important;
    font-size: inherit !important;
    -webkit-transition-property: color, background-color, -webkit-box-shadow;
    -webkit-transition-duration: 0.5s, 0.5s, 0.5s;
    -webkit-transition-timing-function: linear, linear, linear;
    padding: 0.2em !important;
    -webkit-box-shadow: rgba(0,0,0,0.42) 3px 3px 4px !important;
    border-radius: 6px !important;
}

.simplehl4_FJHZNF {
    display: inline !important;
    font-family: inherit !important;
    font-style: inherit !important;
    font-variant: inherit !important;
    font-weight: inherit !important;
    border-color: transparent !important;
    color: #000000 !important;
    background-color: rgba(96,255,96,0.7) !important;
    font-size: inherit !important;
    -webkit-transition-property: color, background-color, -webkit-box-shadow;
    -webkit-transition-duration: 0.5s, 0.5s, 0.5s;
    -webkit-transition-timing-function: linear, linear, linear;
    padding: 0.2em !important;
    -webkit-box-shadow: rgba(0,0,0,0.42) 3px 3px 4px !important;
    border-radius: 6px !important;
}

.simplehl5_FJHZNF {
    display: inline !important;
    font-family: inherit !important;
    font-style: inherit !important;
    font-variant: inherit !important;
    font-weight: inherit !important;
    border-color: transparent !important;
    color: #000000 !important;
    background-color: rgba(96,255,255,0.7) !important;
    font-size: inherit !important;
    -webkit-transition-property: color, background-color, -webkit-box-shadow;
    -webkit-transition-duration: 0.5s, 0.5s, 0.5s;
    -webkit-transition-timing-function: linear, linear, linear;
    padding: 0.2em !important;
    -webkit-box-shadow: rgba(0,0,0,0.42) 3px 3px 4px !important;
    border-radius: 6px !important;
}

.simplehl6_FJHZNF {
    display: inline !important;
    font-family: inherit !important;
    font-style: inherit !important;
    font-variant: inherit !important;
    font-weight: inherit !important;
    border-color: transparent !important;
    color: #000000 !important;
    background-color: rgba(255,96,255,0.7) !important;
    font-size: inherit !important;
    -webkit-transition-property: color, background-color, -webkit-box-shadow;
    -webkit-transition-duration: 0.5s, 0.5s, 0.5s;
    -webkit-transition-timing-function: linear, linear, linear;
    padding: 0.2em !important;
    -webkit-box-shadow: rgba(0,0,0,0.42) 3px 3px 4px !important;
    border-radius: 6px !important;
}

.simplehl7_FJHZNF {
    display: inline !important;
    font-family: inherit !important;
    font-style: inherit !important;
    font-variant: inherit !important;
    font-weight: inherit !important;
    border-color: transparent !important;
    color: #ffffff !important;
    background-color: rgba(0,0,0,0.7) !important;
    font-size: inherit !important;
    -webkit-transition-property: color, background-color, -webkit-box-shadow;
    -webkit-transition-duration: 0.5s, 0.5s, 0.5s;
    -webkit-transition-timing-function: linear, linear, linear;
    padding: 0.2em !important;
    -webkit-box-shadow: rgba(0,0,0,0.42) 3px 3px 4px !important;
    border-radius: 6px !important;
}

@-webkit-keyframes flash {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}
