<div class="masonry md-mainMasonryContainer" data-mansory="md-mainMasonryContainer" style="position: relative; height: auto;">
    <div class="grid-sizer"></div>
    <div class="gutter-sizer"></div>
    <div class="item two-columns opaque" data-cardid="5716516093820928" data-recommendationrequestid="2069417502" style="position: absolute; left: 0px; top: 0px;">
        <!-- PERSON CARDS --><!-- OTHER CARDS -->
        <div class="card-authoring-info">
            <div class="bl-source" data-block="source">
                <p class="bl-source-name">CI&amp;T+</p>
            </div><div class="bl-author" data-block="author">
                <div class="bl-author-container">
                    <img class="bl-author-image" src="./iCiandt_files/photo(1).jpg">
                </div><div class="bl-author-info">
                    <p class="bl-author-name">
                        <a data-card="open-route" href="http://i.ciandt.com/u/gon">Cesar Gon</a>
                    </p><p class="bl-author-date">March 30, 2015</p>
                </div>
            </div>
        </div>
        <a href="http://i.ciandt.com/card/truenorth-2015-goals" data-card="open-card">
            <div class="bl-content" data-block="content">
                <h1 class="bl-content-title">True North 2015: The Goals</h1>
                <p class="bl-content-summary">A.k.a. "drop the bull"</p>
            </div>
            <div class="bl-photo" data-block="photo">
                <img class="bl-photo-image" src="./iCiandt_files/2Gc_9AXZcjy0pq40CMZ9_h_vc-tVpxPXS8sR-Lna15ecX-oKEu05ElTAgGVXJJ9aACBPOPW2uYN5TynUxQ=s679-e7">
            </div>
        </a>
        <div class="bl-ua" data-block="user-activity">
            <ul class="bl-ua-list">
                <li class="bl-ua-list-item"><a class="bl-ua-link-activity bl-ua-link-like   " data-card="link-activity" data-cardactivity="like" href="javascript:void(0);"><i class="bl-ua-icon bl-ua-icon-like">Like</i><span class="bl-ua-counter bl-ua-counter-like" data-card="count-activity" data-cardcountnumber="215">215</span></a></li>
                <li class="bl-ua-list-item"><a class="bl-ua-link-activity bl-ua-link-dislike   " data-card="link-activity" data-cardactivity="dislike" href="javascript:void(0);"><i class="bl-ua-icon bl-ua-icon-dislike">Dislike</i><span class="bl-ua-counter bl-ua-counter-dislike" data-card="count-activity"></span></a></li>
                <li class="bl-ua-list-item"><a class="bl-ua-link-pin bl-ua-link-pin   " data-card="link-pin" data-cardactivity="pin" href="javascript:void(0);"><i class="bl-ua-icon bl-ua-icon-pin">Pin</i><span class="bl-ua-counter bl-ua-counter-pin" data-card="count-pin" data-cardcountnumber="4">4</span></a></li>
                <li class="bl-ua-list-item"><a class="bl-ua-link-share bl-ua-link-share" data-card="link-share" href="javascript:void(0);"><i class="bl-ua-icon bl-ua-icon-share">Share</i><span class="bl-ua-counter bl-ua-counter-share" data-card="count-share" data-cardcountnumber="0">0</span></a></li>
            </ul>
            <div class="bl-ua-tooltip" data-card="share-tooltip">
                <div class="bl-ua-share-by-email">
                    <a class="bl-ua-share-by-email-link" data-cardshare="email" href="javascript:void(0);">Share it by email</a>
                </div>
            </div>
        </div>
    </div>
    <div class="item one-column opaque" data-cardid="5682570744299520" data-recommendationrequestid="2069417502" style="position: absolute; left: 593px; top: 0px;">
        <!-- PERSON CARDS -->
        <!-- OTHER CARDS -->
        <div class="card-authoring-info">
            <div class="bl-source" data-block="source">
                <p class="bl-source-name">CI&amp;T+</p>
            </div><div class="bl-author" data-block="author">
                <div class="bl-author-container">
                    <img class="bl-author-image" src="./iCiandt_files/photo(1).jpg">
                </div><div class="bl-author-info">
                    <p class="bl-author-name">
                        <a data-card="open-route" href="http://i.ciandt.com/u/gon">Cesar Gon</a>
                    </p><p class="bl-author-date">April 17, 2015</p>
                </div>
            </div>
        </div>
        <a href="http://i.ciandt.com/card/nossa-breve-historia" data-card="open-card">
            <div class="bl-content" data-block="content">
                <h1 class="bl-content-title">Uma breve viagem sobre a CI&amp;T</h1>
                <p class="bl-content-summary">"Como uma bola mal chutada nos colocou aqui..."</p>
            </div>
        </a><div class="bl-article" data-block="article">
            <a class="bl-article-link" href="https://drive.google.com/a/ciandt.com/file/d/0B8Vifw-RJi9qWFJhdW1OYmc2UDQ/view?usp=sharing" target="_blank">
                <img class="bl-article-img" src="./iCiandt_files/1S6GKUtfBzEiEWYAObKRHAb0ARYbM-gDtAY8o_3wj2FwZqZJOpslFBZAHkSww1IVPQM1bikEB284CEbUJQ">
                <h3 class="bl-article-author">drive.google.com</h3>
                <p class="bl-article-content">Breve viagem pela história da CI&amp;T - by Cesar Gon.pdf - Google Drive</p>
            </a>
        </div><div class="bl-ua" data-block="user-activity">
            <ul class="bl-ua-list">
                <li class="bl-ua-list-item">
                    <a class="bl-ua-link-activity bl-ua-link-like   " data-card="link-activity" data-cardactivity="like" href="javascript:void(0);">
                        <i class="bl-ua-icon bl-ua-icon-like">Like</i><span class="bl-ua-counter bl-ua-counter-like" data-card="count-activity" data-cardcountnumber="94">94</span>
                    </a>
                </li>
                <li class="bl-ua-list-item"><a class="bl-ua-link-activity bl-ua-link-dislike   " data-card="link-activity" data-cardactivity="dislike" href="javascript:void(0);"><i class="bl-ua-icon bl-ua-icon-dislike">Dislike</i><span class="bl-ua-counter bl-ua-counter-dislike" data-card="count-activity"></span></a></li>
                <li class="bl-ua-list-item"><a class="bl-ua-link-pin bl-ua-link-pin   " data-card="link-pin" data-cardactivity="pin" href="javascript:void(0);"><i class="bl-ua-icon bl-ua-icon-pin">Pin</i><span class="bl-ua-counter bl-ua-counter-pin" data-card="count-pin" data-cardcountnumber="0">0</span></a></li>
                <li class="bl-ua-list-item"><a class="bl-ua-link-share bl-ua-link-share" data-card="link-share" href="javascript:void(0);"><i class="bl-ua-icon bl-ua-icon-share">Share</i><span class="bl-ua-counter bl-ua-counter-share" data-card="count-share" data-cardcountnumber="0">0</span></a></li>
            </ul>
            <div class="bl-ua-tooltip" data-card="share-tooltip">
                <div class="bl-ua-share-by-email">
                    <a class="bl-ua-share-by-email-link" data-cardshare="email" href="javascript:void(0);">Share it by email</a>
                </div>
            </div>
        </div>
    </div>
    <div class="item one-column opaque" data-cardid="5112067017146368" data-recommendationrequestid="2069417502" style="position: absolute; left: 890px; top: 0px;">
        <!-- PERSON CARDS -->
        <!-- OTHER CARDS -->
        <div class="card-authoring-info">
            <div class="bl-source" data-block="source">
                <p class="bl-source-name">[CI&amp;T] Our Achievements</p><
                /div><div class="bl-author" data-block="author">
                    <div class="bl-author-container">
                        <img class="bl-author-image" src="./iCiandt_files/photo(2).jpg">
                    </div><div class="bl-author-info">
                        <p class="bl-author-name">
                            <a data-card="open-route" href="http://i.ciandt.com/u/caionf">Caio Henrique Nascimento Fabiano</a>
                        </p><p class="bl-author-date">April 15, 2015</p>
                    </div>
                </div>
            </div>
        </div><a href="http://i.ciandt.com/card/z13wwdeovm2ffhgle22auh0jrnugxtknn" data-card="open-card">
            <div class="bl-content" data-block="content">
                <h1 class="bl-content-title">J&amp;J Brand Inspector is now Live!</h1>
                <p class="bl-content-summary">I'm proud to announce the Go-live of new release of J&amp;J Brand Inspector application. This...</p>
            </div>
            <div class="bl-photo" data-block="photo">
                <img class="bl-photo-image" src="./iCiandt_files/oMtapnq0TZjdIdVxaqBDAFricdeBf-GIbQ2h-OZ6eBbxPhz3Qu67cO5pGxq6tnhuIkPah8AYzEi-v_3T=s620-e7">
            </div>
        </a><div class="bl-ua" data-block="user-activity">
            <ul class="bl-ua-list">
                <li class="bl-ua-list-item"><a class="bl-ua-link-activity bl-ua-link-like   " data-card="link-activity" data-cardactivity="like" href="javascript:void(0);"><i class="bl-ua-icon bl-ua-icon-like">Like</i><span class="bl-ua-counter bl-ua-counter-like" data-card="count-activity" data-cardcountnumber="41">41</span></a></li>
                <li class="bl-ua-list-item"><a class="bl-ua-link-activity bl-ua-link-dislike   " data-card="link-activity" data-cardactivity="dislike" href="javascript:void(0);"><i class="bl-ua-icon bl-ua-icon-dislike">Dislike</i><span class="bl-ua-counter bl-ua-counter-dislike" data-card="count-activity"></span></a></li>
                <li class="bl-ua-list-item"><a class="bl-ua-link-pin bl-ua-link-pin   " data-card="link-pin" data-cardactivity="pin" href="javascript:void(0);"><i class="bl-ua-icon bl-ua-icon-pin">Pin</i><span class="bl-ua-counter bl-ua-counter-pin" data-card="count-pin" data-cardcountnumber="0">0</span></a></li>
                <li class="bl-ua-list-item">
                    <a class="bl-ua-link-share bl-ua-link-share" data-card="link-share" href="javascript:void(0);">
                        <i class="bl-ua-icon bl-ua-icon-share">Share</i>
                        <span class="bl-ua-counter bl-ua-counter-share" data-card="count-share" data-cardcountnumber="0">0</span>
                    </a>
                </li>
            </ul>
            <div class="bl-ua-tooltip" data-card="share-tooltip">
                <div class="bl-ua-share-by-email">
                    <a class="bl-ua-share-by-email-link" data-cardshare="email" href="javascript:void(0);">Share it by email</a>
                </div>
            </div>
        </div>
    </div>
</div>
