<div class="row masonry-container">
    <div class="col-md-4 col-sm-8 col-xs-12 masonry-card">
        <div class="panel panel-default">
            <div class="panel-heading"><a href="#" class="pull-right">View all</a> <h4>Bootstrap Examples</h4></div>
            <div class="panel-body">
                <div class="list-group">
                    <a href="http://bootply.com/tagged/modal" class="list-group-item">Modal / Dialog</a>
                    <a href="http://bootply.com/tagged/datetime" class="list-group-item">Datetime Examples</a>
                    <a href="http://bootply.com/tagged/datatable" class="list-group-item">Data Grids</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-2 col-sm-4 col-xs-6 masonry-card">
        <div class="well">
            <form class="form">
                <h4>Sign-up 1</h4>
                <div class="input-group text-center">
                    <input type="text" class="form-control input-lg" placeholder="Enter your email address">
                    <span class="input-group-btn"><button class="btn btn-lg btn-primary" type="button">OK</button></span>
                </div>
            </form>
        </div>
    </div>

    <div class="col-md-2 col-sm-4 col-xs-6 masonry-card">
        <div class="panel panel-default">
            <div class="panel-heading"><a href="#" class="pull-right">View all</a> <h4>Bootstrap Examples</h4></div>
            <div class="panel-body">
                <div class="list-group">
                    <a href="http://bootply.com/tagged/modal" class="list-group-item">Modal / Dialog</a>
                    <a href="http://bootply.com/tagged/datetime" class="list-group-item">Datetime Examples</a>
                    <a href="http://bootply.com/tagged/datatable" class="list-group-item">Data Grids</a>
                    <a href="http://bootply.com/tagged/datatable" class="list-group-item">Data Grids</a>
                    <a href="http://bootply.com/tagged/datatable" class="list-group-item">Data Grids</a>
                    <a href="http://bootply.com/tagged/datatable" class="list-group-item">Data Grids</a>
                    <a href="http://bootply.com/tagged/datatable" class="list-group-item">Data Grids</a>
                    <a href="http://bootply.com/tagged/datatable" class="list-group-item">Data Grids</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-2 col-sm-4 col-xs-6 masonry-card">
        <div class="panel panel-default">
            <div class="panel-heading"><a href="#" class="pull-right">View all</a> <h4>Bootstrap Examples</h4></div>
            <div class="panel-body">
                <div class="list-group">
                    <a href="http://bootply.com/tagged/modal" class="list-group-item">Modal / Dialog</a>
                    <a href="http://bootply.com/tagged/datetime" class="list-group-item">Datetime Examples</a>
                    <a href="http://bootply.com/tagged/datatable" class="list-group-item">Data Grids</a>
                    <a href="http://bootply.com/tagged/datatable" class="list-group-item">Data Grids</a>
                    <a href="http://bootply.com/tagged/datatable" class="list-group-item">Data Grids</a>
                    <a href="http://bootply.com/tagged/datatable" class="list-group-item">Data Grids</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-2 col-sm-4 col-xs-6 masonry-card">
        <div class="well">
            <form class="form">
                <h4>Sign-up 4</h4>
                <div class="input-group text-center">
                    <input type="text" class="form-control input-lg" placeholder="Enter your email address">
                    <span class="input-group-btn"><button class="btn btn-lg btn-primary" type="button">OK</button></span>
                </div>
            </form>
        </div>
    </div>

    <div class="col-md-2 col-sm-4 col-xs-6 masonry-card">
        <div class="well">
            <form class="form">
                <h4>Sign-up 5</h4>
                <div class="input-group text-center">
                    <input type="text" class="form-control input-lg" placeholder="Enter your email address">
                    <span class="input-group-btn"><button class="btn btn-lg btn-primary" type="button">OK</button></span>
                </div>
            </form>
        </div>
    </div>

    <div class="col-md-2 col-sm-4 col-xs-6 masonry-card">
        <div class="well">
            <form class="form">
                <h4>Sign-up 6</h4>
                <div class="input-group text-center">
                    <input type="text" class="form-control input-lg" placeholder="Enter your email address">
                    <span class="input-group-btn"><button class="btn btn-lg btn-primary" type="button">OK</button></span>
                </div>
            </form>
        </div>
    </div>

    <div class="col-md-2 col-sm-4 col-xs-6 masonry-card">
        <div class="well">
            <form class="form">
                <h4>Sign-up 7</h4>
                <div class="input-group text-center">
                    <input type="text" class="form-control input-lg" placeholder="Enter your email address">
                    <span class="input-group-btn"><button class="btn btn-lg btn-primary" type="button">OK</button></span>
                </div>
            </form>
        </div>
    </div>

    <div class="col-md-2 col-sm-4 col-xs-6 masonry-card">
        <div class="well">
            <form class="form">
                <h4>Sign-up 8</h4>
                <div class="input-group text-center">
                    <input type="text" class="form-control input-lg" placeholder="Enter your email address">
                    <span class="input-group-btn"><button class="btn btn-lg btn-primary" type="button">OK</button></span>
                </div>
            </form>
        </div>
    </div>

    <div class="col-md-2 col-sm-4 col-xs-6 masonry-card">
        <div class="well">
            <form class="form">
                <h4>Sign-up 9</h4>
                <div class="input-group text-center">
                    <input type="text" class="form-control input-lg" placeholder="Enter your email address">
                    <span class="input-group-btn"><button class="btn btn-lg btn-primary" type="button">OK</button></span>
                </div>
            </form>
        </div>
    </div>

    <div class="col-md-2 col-sm-4 col-xs-6 masonry-card">
        <div class="well">
            <form class="form">
                <h4>Sign-up 10</h4>
                <div class="input-group text-center">
                    <input type="text" class="form-control input-lg" placeholder="Enter your email address">
                    <span class="input-group-btn"><button class="btn btn-lg btn-primary" type="button">OK</button></span>
                </div>
            </form>
        </div>
    </div>

    <div class="col-md-2 col-sm-4 col-xs-6 masonry-card">
        <div class="well">
            <form class="form">
                <h4>Sign-up 11</h4>
                <div class="input-group text-center">
                    <input type="text" class="form-control input-lg" placeholder="Enter your email address">
                    <span class="input-group-btn"><button class="btn btn-lg btn-primary" type="button">OK</button></span>
                </div>
            </form>
        </div>
    </div>

    <div class="col-md-2 col-sm-4 col-xs-6 masonry-card">
        <div class="well">
            <form class="form">
                <h4>Sign-up 12</h4>
                <div class="input-group text-center">
                    <input type="text" class="form-control input-lg" placeholder="Enter your email address">
                    <span class="input-group-btn"><button class="btn btn-lg btn-primary" type="button">OK</button></span>
                </div>
            </form>
        </div>
    </div>

    <div class="col-md-2 col-sm-4 col-xs-6 masonry-card">
        <div class="well">
            <form class="form">
                <h4>Sign-up 13</h4>
                <div class="input-group text-center">
                    <input type="text" class="form-control input-lg" placeholder="Enter your email address">
                    <span class="input-group-btn"><button class="btn btn-lg btn-primary" type="button">OK</button></span>
                </div>
            </form>
        </div>
    </div>

    <div class="col-md-2 col-sm-4 col-xs-6 masonry-card">
        <div class="well">
            <form class="form">
                <h4>Sign-up 14</h4>
                <div class="input-group text-center">
                    <input type="text" class="form-control input-lg" placeholder="Enter your email address">
                    <span class="input-group-btn"><button class="btn btn-lg btn-primary" type="button">OK</button></span>
                </div>
            </form>
        </div>
    </div>

    <div class="col-md-2 col-sm-4 col-xs-6 masonry-card">
        <div class="well">
            <form class="form">
                <h4>Sign-up 15</h4>
                <div class="input-group text-center">
                    <input type="text" class="form-control input-lg" placeholder="Enter your email address">
                    <span class="input-group-btn"><button class="btn btn-lg btn-primary" type="button">OK</button></span>
                </div>
            </form>
        </div>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6 masonry-card">
        <div class="well">
            <form class="form">
                <h4>Sign-up 1</h4>
                <div class="input-group text-center">
                    <input type="text" class="form-control input-lg" placeholder="Enter your email address">
                    <span class="input-group-btn"><button class="btn btn-lg btn-primary" type="button">OK</button></span>
                </div>
            </form>
        </div>
    </div>

    <div class="col-md-2 col-sm-4 col-xs-6 masonry-card">
        <div class="panel panel-default">
            <div class="panel-heading"><a href="#" class="pull-right">View all</a> <h4>Bootstrap Examples</h4></div>
            <div class="panel-body">
                <div class="list-group">
                    <a href="http://bootply.com/tagged/modal" class="list-group-item">Modal / Dialog</a>
                    <a href="http://bootply.com/tagged/datetime" class="list-group-item">Datetime Examples</a>
                    <a href="http://bootply.com/tagged/datatable" class="list-group-item">Data Grids</a>
                    <a href="http://bootply.com/tagged/datatable" class="list-group-item">Data Grids</a>
                    <a href="http://bootply.com/tagged/datatable" class="list-group-item">Data Grids</a>
                    <a href="http://bootply.com/tagged/datatable" class="list-group-item">Data Grids</a>
                    <a href="http://bootply.com/tagged/datatable" class="list-group-item">Data Grids</a>
                    <a href="http://bootply.com/tagged/datatable" class="list-group-item">Data Grids</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-2 col-sm-4 col-xs-6 masonry-card">
        <div class="panel panel-default">
            <div class="panel-heading"><a href="#" class="pull-right">View all</a> <h4>Bootstrap Examples</h4></div>
            <div class="panel-body">
                <div class="list-group">
                    <a href="http://bootply.com/tagged/modal" class="list-group-item">Modal / Dialog</a>
                    <a href="http://bootply.com/tagged/datetime" class="list-group-item">Datetime Examples</a>
                    <a href="http://bootply.com/tagged/datatable" class="list-group-item">Data Grids</a>
                    <a href="http://bootply.com/tagged/datatable" class="list-group-item">Data Grids</a>
                    <a href="http://bootply.com/tagged/datatable" class="list-group-item">Data Grids</a>
                    <a href="http://bootply.com/tagged/datatable" class="list-group-item">Data Grids</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-2 col-sm-4 col-xs-6 masonry-card">
        <div class="well">
            <form class="form">
                <h4>Sign-up 4</h4>
                <div class="input-group text-center">
                    <input type="text" class="form-control input-lg" placeholder="Enter your email address">
                    <span class="input-group-btn"><button class="btn btn-lg btn-primary" type="button">OK</button></span>
                </div>
            </form>
        </div>
    </div>

    <div class="col-md-2 col-sm-4 col-xs-6 masonry-card">
        <div class="well">
            <form class="form">
                <h4>Sign-up 5</h4>
                <div class="input-group text-center">
                    <input type="text" class="form-control input-lg" placeholder="Enter your email address">
                    <span class="input-group-btn"><button class="btn btn-lg btn-primary" type="button">OK</button></span>
                </div>
            </form>
        </div>
    </div>

    <div class="col-md-2 col-sm-4 col-xs-6 masonry-card">
        <div class="well">
            <form class="form">
                <h4>Sign-up 6</h4>
                <div class="input-group text-center">
                    <input type="text" class="form-control input-lg" placeholder="Enter your email address">
                    <span class="input-group-btn"><button class="btn btn-lg btn-primary" type="button">OK</button></span>
                </div>
            </form>
        </div>
    </div>

    <div class="col-md-2 col-sm-4 col-xs-6 masonry-card">
        <div class="well">
            <form class="form">
                <h4>Sign-up 7</h4>
                <div class="input-group text-center">
                    <input type="text" class="form-control input-lg" placeholder="Enter your email address">
                    <span class="input-group-btn"><button class="btn btn-lg btn-primary" type="button">OK</button></span>
                </div>
            </form>
        </div>
    </div>

    <div class="col-md-2 col-sm-4 col-xs-6 masonry-card">
        <div class="well">
            <form class="form">
                <h4>Sign-up 8</h4>
                <div class="input-group text-center">
                    <input type="text" class="form-control input-lg" placeholder="Enter your email address">
                    <span class="input-group-btn"><button class="btn btn-lg btn-primary" type="button">OK</button></span>
                </div>
            </form>
        </div>
    </div>

    <div class="col-md-2 col-sm-4 col-xs-6 masonry-card">
        <div class="well">
            <form class="form">
                <h4>Sign-up 9</h4>
                <div class="input-group text-center">
                    <input type="text" class="form-control input-lg" placeholder="Enter your email address">
                    <span class="input-group-btn"><button class="btn btn-lg btn-primary" type="button">OK</button></span>
                </div>
            </form>
        </div>
    </div>

    <div class="col-md-2 col-sm-4 col-xs-6 masonry-card">
        <div class="well">
            <form class="form">
                <h4>Sign-up 10</h4>
                <div class="input-group text-center">
                    <input type="text" class="form-control input-lg" placeholder="Enter your email address">
                    <span class="input-group-btn"><button class="btn btn-lg btn-primary" type="button">OK</button></span>
                </div>
            </form>
        </div>
    </div>

    <div class="col-md-2 col-sm-4 col-xs-6 masonry-card">
        <div class="well">
            <form class="form">
                <h4>Sign-up 11</h4>
                <div class="input-group text-center">
                    <input type="text" class="form-control input-lg" placeholder="Enter your email address">
                    <span class="input-group-btn"><button class="btn btn-lg btn-primary" type="button">OK</button></span>
                </div>
            </form>
        </div>
    </div>

    <div class="col-md-2 col-sm-4 col-xs-6 masonry-card">
        <div class="well">
            <form class="form">
                <h4>Sign-up 12</h4>
                <div class="input-group text-center">
                    <input type="text" class="form-control input-lg" placeholder="Enter your email address">
                    <span class="input-group-btn"><button class="btn btn-lg btn-primary" type="button">OK</button></span>
                </div>
            </form>
        </div>
    </div>

    <div class="col-md-2 col-sm-4 col-xs-6 masonry-card">
        <div class="well">
            <form class="form">
                <h4>Sign-up 13</h4>
                <div class="input-group text-center">
                    <input type="text" class="form-control input-lg" placeholder="Enter your email address">
                    <span class="input-group-btn"><button class="btn btn-lg btn-primary" type="button">OK</button></span>
                </div>
            </form>
        </div>
    </div>

    <div class="col-md-2 col-sm-4 col-xs-6 masonry-card">
        <div class="well">
            <form class="form">
                <h4>Sign-up 14</h4>
                <div class="input-group text-center">
                    <input type="text" class="form-control input-lg" placeholder="Enter your email address">
                    <span class="input-group-btn"><button class="btn btn-lg btn-primary" type="button">OK</button></span>
                </div>
            </form>
        </div>
    </div>

    <div class="col-md-2 col-sm-4 col-xs-6 masonry-card">
        <div class="well">
            <form class="form">
                <h4>Sign-up 15</h4>
                <div class="input-group text-center">
                    <input type="text" class="form-control input-lg" placeholder="Enter your email address">
                    <span class="input-group-btn"><button class="btn btn-lg btn-primary" type="button">OK</button></span>
                </div>
            </form>
        </div>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6 masonry-card">
        <div class="well">
            <form class="form">
                <h4>Sign-up 1</h4>
                <div class="input-group text-center">
                    <input type="text" class="form-control input-lg" placeholder="Enter your email address">
                    <span class="input-group-btn"><button class="btn btn-lg btn-primary" type="button">OK</button></span>
                </div>
            </form>
        </div>
    </div>

    <div class="col-md-2 col-sm-4 col-xs-6 masonry-card">
        <div class="panel panel-default">
            <div class="panel-heading"><a href="#" class="pull-right">View all</a> <h4>Bootstrap Examples</h4></div>
            <div class="panel-body">
                <div class="list-group">
                    <a href="http://bootply.com/tagged/modal" class="list-group-item">Modal / Dialog</a>
                    <a href="http://bootply.com/tagged/datetime" class="list-group-item">Datetime Examples</a>
                    <a href="http://bootply.com/tagged/datatable" class="list-group-item">Data Grids</a>
                    <a href="http://bootply.com/tagged/datatable" class="list-group-item">Data Grids</a>
                    <a href="http://bootply.com/tagged/datatable" class="list-group-item">Data Grids</a>
                    <a href="http://bootply.com/tagged/datatable" class="list-group-item">Data Grids</a>
                    <a href="http://bootply.com/tagged/datatable" class="list-group-item">Data Grids</a>
                    <a href="http://bootply.com/tagged/datatable" class="list-group-item">Data Grids</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-2 col-sm-4 col-xs-6 masonry-card">
        <div class="panel panel-default">
            <div class="panel-heading"><a href="#" class="pull-right">View all</a> <h4>Bootstrap Examples</h4></div>
            <div class="panel-body">
                <div class="list-group">
                    <a href="http://bootply.com/tagged/modal" class="list-group-item">Modal / Dialog</a>
                    <a href="http://bootply.com/tagged/datetime" class="list-group-item">Datetime Examples</a>
                    <a href="http://bootply.com/tagged/datatable" class="list-group-item">Data Grids</a>
                    <a href="http://bootply.com/tagged/datatable" class="list-group-item">Data Grids</a>
                    <a href="http://bootply.com/tagged/datatable" class="list-group-item">Data Grids</a>
                    <a href="http://bootply.com/tagged/datatable" class="list-group-item">Data Grids</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-2 col-sm-4 col-xs-6 masonry-card">
        <div class="well">
            <form class="form">
                <h4>Sign-up 4</h4>
                <div class="input-group text-center">
                    <input type="text" class="form-control input-lg" placeholder="Enter your email address">
                    <span class="input-group-btn"><button class="btn btn-lg btn-primary" type="button">OK</button></span>
                </div>
            </form>
        </div>
    </div>

    <div class="col-md-2 col-sm-4 col-xs-6 masonry-card">
        <div class="well">
            <form class="form">
                <h4>Sign-up 5</h4>
                <div class="input-group text-center">
                    <input type="text" class="form-control input-lg" placeholder="Enter your email address">
                    <span class="input-group-btn"><button class="btn btn-lg btn-primary" type="button">OK</button></span>
                </div>
            </form>
        </div>
    </div>

    <div class="col-md-2 col-sm-4 col-xs-6 masonry-card">
        <div class="well">
            <form class="form">
                <h4>Sign-up 6</h4>
                <div class="input-group text-center">
                    <input type="text" class="form-control input-lg" placeholder="Enter your email address">
                    <span class="input-group-btn"><button class="btn btn-lg btn-primary" type="button">OK</button></span>
                </div>
            </form>
        </div>
    </div>

    <div class="col-md-2 col-sm-4 col-xs-6 masonry-card">
        <div class="well">
            <form class="form">
                <h4>Sign-up 7</h4>
                <div class="input-group text-center">
                    <input type="text" class="form-control input-lg" placeholder="Enter your email address">
                    <span class="input-group-btn"><button class="btn btn-lg btn-primary" type="button">OK</button></span>
                </div>
            </form>
        </div>
    </div>

    <div class="col-md-2 col-sm-4 col-xs-6 masonry-card">
        <div class="well">
            <form class="form">
                <h4>Sign-up 8</h4>
                <div class="input-group text-center">
                    <input type="text" class="form-control input-lg" placeholder="Enter your email address">
                    <span class="input-group-btn"><button class="btn btn-lg btn-primary" type="button">OK</button></span>
                </div>
            </form>
        </div>
    </div>

    <div class="col-md-2 col-sm-4 col-xs-6 masonry-card">
        <div class="well">
            <form class="form">
                <h4>Sign-up 9</h4>
                <div class="input-group text-center">
                    <input type="text" class="form-control input-lg" placeholder="Enter your email address">
                    <span class="input-group-btn"><button class="btn btn-lg btn-primary" type="button">OK</button></span>
                </div>
            </form>
        </div>
    </div>

    <div class="col-md-2 col-sm-4 col-xs-6 masonry-card">
        <div class="well">
            <form class="form">
                <h4>Sign-up 10</h4>
                <div class="input-group text-center">
                    <input type="text" class="form-control input-lg" placeholder="Enter your email address">
                    <span class="input-group-btn"><button class="btn btn-lg btn-primary" type="button">OK</button></span>
                </div>
            </form>
        </div>
    </div>

    <div class="col-md-2 col-sm-4 col-xs-6 masonry-card">
        <div class="well">
            <form class="form">
                <h4>Sign-up 11</h4>
                <div class="input-group text-center">
                    <input type="text" class="form-control input-lg" placeholder="Enter your email address">
                    <span class="input-group-btn"><button class="btn btn-lg btn-primary" type="button">OK</button></span>
                </div>
            </form>
        </div>
    </div>

    <div class="col-md-2 col-sm-4 col-xs-6 masonry-card">
        <div class="well">
            <form class="form">
                <h4>Sign-up 12</h4>
                <div class="input-group text-center">
                    <input type="text" class="form-control input-lg" placeholder="Enter your email address">
                    <span class="input-group-btn"><button class="btn btn-lg btn-primary" type="button">OK</button></span>
                </div>
            </form>
        </div>
    </div>

    <div class="col-md-2 col-sm-4 col-xs-6 masonry-card">
        <div class="well">
            <form class="form">
                <h4>Sign-up 13</h4>
                <div class="input-group text-center">
                    <input type="text" class="form-control input-lg" placeholder="Enter your email address">
                    <span class="input-group-btn"><button class="btn btn-lg btn-primary" type="button">OK</button></span>
                </div>
            </form>
        </div>
    </div>

    <div class="col-md-2 col-sm-4 col-xs-6 masonry-card">
        <div class="well">
            <form class="form">
                <h4>Sign-up 14</h4>
                <div class="input-group text-center">
                    <input type="text" class="form-control input-lg" placeholder="Enter your email address">
                    <span class="input-group-btn"><button class="btn btn-lg btn-primary" type="button">OK</button></span>
                </div>
            </form>
        </div>
    </div>

    <div class="col-md-2 col-sm-4 col-xs-6 masonry-card">
        <div class="well">
            <form class="form">
                <h4>Sign-up 15</h4>
                <div class="input-group text-center">
                    <input type="text" class="form-control input-lg" placeholder="Enter your email address">
                    <span class="input-group-btn"><button class="btn btn-lg btn-primary" type="button">OK</button></span>
                </div>
            </form>
        </div>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6 masonry-card">
        <div class="well">
            <form class="form">
                <h4>Sign-up 1</h4>
                <div class="input-group text-center">
                    <input type="text" class="form-control input-lg" placeholder="Enter your email address">
                    <span class="input-group-btn"><button class="btn btn-lg btn-primary" type="button">OK</button></span>
                </div>
            </form>
        </div>
    </div>

    <div class="col-md-2 col-sm-4 col-xs-6 masonry-card">
        <div class="panel panel-default">
            <div class="panel-heading"><a href="#" class="pull-right">View all</a> <h4>Bootstrap Examples</h4></div>
            <div class="panel-body">
                <div class="list-group">
                    <a href="http://bootply.com/tagged/modal" class="list-group-item">Modal / Dialog</a>
                    <a href="http://bootply.com/tagged/datetime" class="list-group-item">Datetime Examples</a>
                    <a href="http://bootply.com/tagged/datatable" class="list-group-item">Data Grids</a>
                    <a href="http://bootply.com/tagged/datatable" class="list-group-item">Data Grids</a>
                    <a href="http://bootply.com/tagged/datatable" class="list-group-item">Data Grids</a>
                    <a href="http://bootply.com/tagged/datatable" class="list-group-item">Data Grids</a>
                    <a href="http://bootply.com/tagged/datatable" class="list-group-item">Data Grids</a>
                    <a href="http://bootply.com/tagged/datatable" class="list-group-item">Data Grids</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-2 col-sm-4 col-xs-6 masonry-card">
        <div class="panel panel-default">
            <div class="panel-heading"><a href="#" class="pull-right">View all</a> <h4>Bootstrap Examples</h4></div>
            <div class="panel-body">
                <div class="list-group">
                    <a href="http://bootply.com/tagged/modal" class="list-group-item">Modal / Dialog</a>
                    <a href="http://bootply.com/tagged/datetime" class="list-group-item">Datetime Examples</a>
                    <a href="http://bootply.com/tagged/datatable" class="list-group-item">Data Grids</a>
                    <a href="http://bootply.com/tagged/datatable" class="list-group-item">Data Grids</a>
                    <a href="http://bootply.com/tagged/datatable" class="list-group-item">Data Grids</a>
                    <a href="http://bootply.com/tagged/datatable" class="list-group-item">Data Grids</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-2 col-sm-4 col-xs-6 masonry-card">
        <div class="well">
            <form class="form">
                <h4>Sign-up 4</h4>
                <div class="input-group text-center">
                    <input type="text" class="form-control input-lg" placeholder="Enter your email address">
                    <span class="input-group-btn"><button class="btn btn-lg btn-primary" type="button">OK</button></span>
                </div>
            </form>
        </div>
    </div>

    <div class="col-md-2 col-sm-4 col-xs-6 masonry-card">
        <div class="well">
            <form class="form">
                <h4>Sign-up 5</h4>
                <div class="input-group text-center">
                    <input type="text" class="form-control input-lg" placeholder="Enter your email address">
                    <span class="input-group-btn"><button class="btn btn-lg btn-primary" type="button">OK</button></span>
                </div>
            </form>
        </div>
    </div>

    <div class="col-md-2 col-sm-4 col-xs-6 masonry-card">
        <div class="well">
            <form class="form">
                <h4>Sign-up 6</h4>
                <div class="input-group text-center">
                    <input type="text" class="form-control input-lg" placeholder="Enter your email address">
                    <span class="input-group-btn"><button class="btn btn-lg btn-primary" type="button">OK</button></span>
                </div>
            </form>
        </div>
    </div>

    <div class="col-md-2 col-sm-4 col-xs-6 masonry-card">
        <div class="well">
            <form class="form">
                <h4>Sign-up 7</h4>
                <div class="input-group text-center">
                    <input type="text" class="form-control input-lg" placeholder="Enter your email address">
                    <span class="input-group-btn"><button class="btn btn-lg btn-primary" type="button">OK</button></span>
                </div>
            </form>
        </div>
    </div>

    <div class="col-md-2 col-sm-4 col-xs-6 masonry-card">
        <div class="well">
            <form class="form">
                <h4>Sign-up 8</h4>
                <div class="input-group text-center">
                    <input type="text" class="form-control input-lg" placeholder="Enter your email address">
                    <span class="input-group-btn"><button class="btn btn-lg btn-primary" type="button">OK</button></span>
                </div>
            </form>
        </div>
    </div>

    <div class="col-md-2 col-sm-4 col-xs-6 masonry-card">
        <div class="well">
            <form class="form">
                <h4>Sign-up 9</h4>
                <div class="input-group text-center">
                    <input type="text" class="form-control input-lg" placeholder="Enter your email address">
                    <span class="input-group-btn"><button class="btn btn-lg btn-primary" type="button">OK</button></span>
                </div>
            </form>
        </div>
    </div>

    <div class="col-md-2 col-sm-4 col-xs-6 masonry-card">
        <div class="well">
            <form class="form">
                <h4>Sign-up 10</h4>
                <div class="input-group text-center">
                    <input type="text" class="form-control input-lg" placeholder="Enter your email address">
                    <span class="input-group-btn"><button class="btn btn-lg btn-primary" type="button">OK</button></span>
                </div>
            </form>
        </div>
    </div>

    <div class="col-md-2 col-sm-4 col-xs-6 masonry-card">
        <div class="well">
            <form class="form">
                <h4>Sign-up 11</h4>
                <div class="input-group text-center">
                    <input type="text" class="form-control input-lg" placeholder="Enter your email address">
                    <span class="input-group-btn"><button class="btn btn-lg btn-primary" type="button">OK</button></span>
                </div>
            </form>
        </div>
    </div>

    <div class="col-md-2 col-sm-4 col-xs-6 masonry-card">
        <div class="well">
            <form class="form">
                <h4>Sign-up 12</h4>
                <div class="input-group text-center">
                    <input type="text" class="form-control input-lg" placeholder="Enter your email address">
                    <span class="input-group-btn"><button class="btn btn-lg btn-primary" type="button">OK</button></span>
                </div>
            </form>
        </div>
    </div>

    <div class="col-md-2 col-sm-4 col-xs-6 masonry-card">
        <div class="well">
            <form class="form">
                <h4>Sign-up 13</h4>
                <div class="input-group text-center">
                    <input type="text" class="form-control input-lg" placeholder="Enter your email address">
                    <span class="input-group-btn"><button class="btn btn-lg btn-primary" type="button">OK</button></span>
                </div>
            </form>
        </div>
    </div>

    <div class="col-md-2 col-sm-4 col-xs-6 masonry-card">
        <div class="well">
            <form class="form">
                <h4>Sign-up 14</h4>
                <div class="input-group text-center">
                    <input type="text" class="form-control input-lg" placeholder="Enter your email address">
                    <span class="input-group-btn"><button class="btn btn-lg btn-primary" type="button">OK</button></span>
                </div>
            </form>
        </div>
    </div>

    <div class="col-md-2 col-sm-4 col-xs-6 masonry-card">
        <div class="well">
            <form class="form">
                <h4>Sign-up 15</h4>
                <div class="input-group text-center">
                    <input type="text" class="form-control input-lg" placeholder="Enter your email address">
                    <span class="input-group-btn"><button class="btn btn-lg btn-primary" type="button">OK</button></span>
                </div>
            </form>
        </div>
    </div>
</div><!--/row-->