<div class="row masonry-container">
    <div class="canvas-card-item col-md-4 col-sm-6 col-xs-6 masonry-card" data-cardid="6136587041636352" data-recommendationrequestid="1392905186">
        <!-- PERSON CARDS --><!-- OTHER CARDS -->
        <div class="panel panel-default">
            <div class="panel-heading card-authoring-info">
                <div class="bl-source" data-block="source">
                    <p class="bl-source-name">[CI&amp;T] Career in Motion &amp; People Awards</p>
                </div>
                <div class="bl-author" data-block="author">
                    <div class="bl-author-container">
                        <img class="bl-author-image" src="https://lh3.googleusercontent.com/-Vk3GGkT_M4U/AAAAAAAAAAI/AAAAAAAAA6w/GAF0smAh7jc/photo.jpg?sz=150">
                    </div>
                    <div class="bl-author-info">
                        <p class="bl-author-name">
                            <a data-card="open-route" href="/u/ana">Ana Luisa Correa de Oliveira Bezerra</a>
                        </p>
                        <p class="bl-author-date">February 4, 2015</p>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <a href="/card/z13rg33hqzvow3v3w22tvb2rrsqxfzmnf" data-card="open-card">
                    <div class="bl-content" data-block="content">
                        <h1 class="bl-content-title">5 Years: Marcos Leandro Francischinelli</h1>
                        <p class="bl-content-summary">O +Marcos Leandro Francischinelli&nbsp;completou 5 anos de CI&amp;T em Janeiro!! O prêmio foi entregue pelo...</p>
                    </div>
                    <div class="bl-photo" data-block="photo">
                        <img class="bl-photo-image" src="https://lh4.ggpht.com/JdUCMMYjiUpfLXcvpx1ca3P2VnLWr8hVYaWFx10XkxxULiotAg1FGrTyOtj9-X05B9C2pgWNvEjvDgGb=s679-e7" width="507" height="380">
                    </div>
                </a>
            </div>
            <div class="panel-footer bl-ua" data-block="user-activity">
                <ul class="bl-ua-list">
                    <li class="bl-ua-list-item">
                        <a class="bl-ua-link-activity bl-ua-link-like   " data-card="link-activity" data-cardactivity="like" href="javascript:void(0);">
                            <i class="bl-ua-icon bl-ua-icon-like">Like</i>
                            <span class="bl-ua-counter bl-ua-counter-like" data-card="count-activity" data-cardcountnumber="31">31</span>
                        </a>
                    </li>
                    <li class="bl-ua-list-item"><a class="bl-ua-link-activity bl-ua-link-dislike   " data-card="link-activity" data-cardactivity="dislike" href="javascript:void(0);"><i class="bl-ua-icon bl-ua-icon-dislike">Dislike</i><span class="bl-ua-counter bl-ua-counter-dislike" data-card="count-activity"></span></a></li>
                    <li class="bl-ua-list-item"><a class="bl-ua-link-pin bl-ua-link-pin   " data-card="link-pin" data-cardactivity="pin" href="javascript:void(0);"><i class="bl-ua-icon bl-ua-icon-pin">Pin</i><span class="bl-ua-counter bl-ua-counter-pin" data-card="count-pin" data-cardcountnumber="0">0</span></a></li>
                    <li class="bl-ua-list-item"><a class="bl-ua-link-share bl-ua-link-share" data-card="link-share" href="javascript:void(0);"><i class="bl-ua-icon bl-ua-icon-share">Share</i><span class="bl-ua-counter bl-ua-counter-share" data-card="count-share" data-cardcountnumber="0">0</span></a></li>
                </ul>
                <div class="bl-ua-tooltip" data-card="share-tooltip">
                    <div class="bl-ua-share-by-email">
                        <a class="bl-ua-share-by-email-link" data-cardshare="email" href="javascript:void(0);">Share it by email</a>
                    </div>
                </div>
            </div>
        </div>
        <!--<div class="card-authoring-info">
            <div class="bl-source" data-block="source">
                <p class="bl-source-name">[CI&amp;T] Career in Motion &amp; People Awards</p>
            </div>
            <div class="bl-author" data-block="author">
                <div class="bl-author-container">
                    <img class="bl-author-image" src="https://lh3.googleusercontent.com/-Vk3GGkT_M4U/AAAAAAAAAAI/AAAAAAAAA6w/GAF0smAh7jc/photo.jpg?sz=150">
                </div>
                <div class="bl-author-info">
                    <p class="bl-author-name">
                        <a data-card="open-route" href="/u/ana">Ana Luisa Correa de Oliveira Bezerra</a>
                    </p>
                    <p class="bl-author-date">February 4, 2015</p>
                </div>
            </div>
        </div>
        <a href="/card/z13rg33hqzvow3v3w22tvb2rrsqxfzmnf" data-card="open-card">
            <div class="bl-content" data-block="content">
                <h1 class="bl-content-title">5 Years: Marcos Leandro Francischinelli</h1>
                <p class="bl-content-summary">O +Marcos Leandro Francischinelli&nbsp;completou 5 anos de CI&amp;T em Janeiro!! O prêmio foi entregue pelo...</p>
            </div>
            <div class="bl-photo" data-block="photo">
                <img class="bl-photo-image" src="https://lh4.ggpht.com/JdUCMMYjiUpfLXcvpx1ca3P2VnLWr8hVYaWFx10XkxxULiotAg1FGrTyOtj9-X05B9C2pgWNvEjvDgGb=s679-e7" width="507" height="380">
            </div>
        </a>
        <div class="bl-ua" data-block="user-activity">
            <ul class="bl-ua-list">
                <li class="bl-ua-list-item">
                    <a class="bl-ua-link-activity bl-ua-link-like   " data-card="link-activity" data-cardactivity="like" href="javascript:void(0);">
                        <i class="bl-ua-icon bl-ua-icon-like">Like</i>
                        <span class="bl-ua-counter bl-ua-counter-like" data-card="count-activity" data-cardcountnumber="31">31</span>
                    </a>
                </li>
                <li class="bl-ua-list-item"><a class="bl-ua-link-activity bl-ua-link-dislike   " data-card="link-activity" data-cardactivity="dislike" href="javascript:void(0);"><i class="bl-ua-icon bl-ua-icon-dislike">Dislike</i><span class="bl-ua-counter bl-ua-counter-dislike" data-card="count-activity"></span></a></li>
                <li class="bl-ua-list-item"><a class="bl-ua-link-pin bl-ua-link-pin   " data-card="link-pin" data-cardactivity="pin" href="javascript:void(0);"><i class="bl-ua-icon bl-ua-icon-pin">Pin</i><span class="bl-ua-counter bl-ua-counter-pin" data-card="count-pin" data-cardcountnumber="0">0</span></a></li>
                <li class="bl-ua-list-item"><a class="bl-ua-link-share bl-ua-link-share" data-card="link-share" href="javascript:void(0);"><i class="bl-ua-icon bl-ua-icon-share">Share</i><span class="bl-ua-counter bl-ua-counter-share" data-card="count-share" data-cardcountnumber="0">0</span></a></li>
            </ul>
            <div class="bl-ua-tooltip" data-card="share-tooltip">
                <div class="bl-ua-share-by-email">
                    <a class="bl-ua-share-by-email-link" data-cardshare="email" href="javascript:void(0);">Share it by email</a>
                </div>
            </div>
        </div>-->
    </div>

    <div class="canvas-card-item col-md-2 col-sm-4 col-xs-6 masonry-card" data-cardid="6026097906941952" data-recommendationrequestid="1392905186">
        <!-- PERSON CARDS --><!-- OTHER CARDS -->
        <div class="card-authoring-info">
            <div class="bl-source" data-block="source">
                <p class="bl-source-name">[CI&amp;T] Career in Motion &amp; People Awards</p>
            </div>
            <div class="bl-author" data-block="author">
                <div class="bl-author-container">
                    <img class="bl-author-image" src="https://lh3.googleusercontent.com/-Vk3GGkT_M4U/AAAAAAAAAAI/AAAAAAAAA6w/GAF0smAh7jc/photo.jpg?sz=150">
                </div>
                <div class="bl-author-info">
                    <p class="bl-author-name">
                        <a data-card="open-route" href="/u/ana">Ana Luisa Correa de Oliveira Bezerra</a>
                    </p><p class="bl-author-date">March 16, 2015</p>
                </div>
            </div>
        </div>
        <a href="/card/z12rtbwphxaysvbjy04cfbgweyz2vpjyehg" data-card="open-card">
            <div class="bl-content" data-block="content">
                <h1 class="bl-content-title">5 Years: Rodrigo Ramos Couto</h1>
                <p class="bl-content-summary">O +Rodrigo Ramos Couto&nbsp;completou 5 anos de CI&amp;T em Fevereiro!! O prêmio foi entregue pelo +Marcelo...</p>
            </div>
            <div class="bl-photo" data-block="photo">
                <img class="bl-photo-image" src="https://lh6.ggpht.com/nEHcDJAtxAexKknIp34LmzAz96mMpWQUXt6PMcJ8Oz4qPXablWmM0GVVHNv-088oLRfIWT01-6N_guk=s349-e7" width="241" height="181">
            </div>
        </a>
        <div class="bl-ua" data-block="user-activity">
            <ul class="bl-ua-list">
                <li class="bl-ua-list-item"><a class="bl-ua-link-activity bl-ua-link-like   " data-card="link-activity" data-cardactivity="like" href="javascript:void(0);"><i class="bl-ua-icon bl-ua-icon-like">Like</i><span class="bl-ua-counter bl-ua-counter-like" data-card="count-activity" data-cardcountnumber="28">28</span></a></li>
                <li class="bl-ua-list-item"><a class="bl-ua-link-activity bl-ua-link-dislike   " data-card="link-activity" data-cardactivity="dislike" href="javascript:void(0);"><i class="bl-ua-icon bl-ua-icon-dislike">Dislike</i><span class="bl-ua-counter bl-ua-counter-dislike" data-card="count-activity"></span></a></li>
                <li class="bl-ua-list-item"><a class="bl-ua-link-pin bl-ua-link-pin   " data-card="link-pin" data-cardactivity="pin" href="javascript:void(0);"><i class="bl-ua-icon bl-ua-icon-pin">Pin</i><span class="bl-ua-counter bl-ua-counter-pin" data-card="count-pin" data-cardcountnumber="0">0</span></a></li>
                <li class="bl-ua-list-item"><a class="bl-ua-link-share bl-ua-link-share" data-card="link-share" href="javascript:void(0);"><i class="bl-ua-icon bl-ua-icon-share">Share</i><span class="bl-ua-counter bl-ua-counter-share" data-card="count-share" data-cardcountnumber="0">0</span></a></li>
            </ul>
            <div class="bl-ua-tooltip" data-card="share-tooltip">
                <div class="bl-ua-share-by-email">
                    <a class="bl-ua-share-by-email-link" data-cardshare="email" href="javascript:void(0);">Share it by email</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-2 col-sm-4 col-xs-6 masonry-card">
        <div class="panel panel-default">
            <div class="panel-heading"><a href="#" class="pull-right">View all</a> <h4>Bootstrap Examples</h4></div>
            <div class="panel-body">
                <div class="list-group">
                    <a href="http://bootply.com/tagged/modal" class="list-group-item">Modal / Dialog</a>
                    <a href="http://bootply.com/tagged/datetime" class="list-group-item">Datetime Examples</a>
                    <a href="http://bootply.com/tagged/datatable" class="list-group-item">Data Grids</a>
                    <a href="http://bootply.com/tagged/datatable" class="list-group-item">Data Grids</a>
                    <a href="http://bootply.com/tagged/datatable" class="list-group-item">Data Grids</a>
                    <a href="http://bootply.com/tagged/datatable" class="list-group-item">Data Grids</a>
                    <a href="http://bootply.com/tagged/datatable" class="list-group-item">Data Grids</a>
                    <a href="http://bootply.com/tagged/datatable" class="list-group-item">Data Grids</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-2 col-sm-4 col-xs-6 masonry-card">
        <div class="panel panel-default">
            <div class="panel-heading"><a href="#" class="pull-right">View all</a> <h4>Bootstrap Examples</h4></div>
            <div class="panel-body">
                <div class="list-group">
                    <a href="http://bootply.com/tagged/modal" class="list-group-item">Modal / Dialog</a>
                    <a href="http://bootply.com/tagged/datetime" class="list-group-item">Datetime Examples</a>
                    <a href="http://bootply.com/tagged/datatable" class="list-group-item">Data Grids</a>
                    <a href="http://bootply.com/tagged/datatable" class="list-group-item">Data Grids</a>
                    <a href="http://bootply.com/tagged/datatable" class="list-group-item">Data Grids</a>
                    <a href="http://bootply.com/tagged/datatable" class="list-group-item">Data Grids</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-2 col-sm-4 col-xs-6 masonry-card">
        <div class="well">
            <form class="form">
                <h4>Sign-up 4</h4>
                <div class="input-group text-center">
                    <input type="text" class="form-control input-lg" placeholder="Enter your email address">
                    <span class="input-group-btn"><button class="btn btn-lg btn-primary" type="button">OK</button></span>
                </div>
            </form>
        </div>
    </div>

    <div class="col-md-2 col-sm-4 col-xs-6 masonry-card">
        <div class="well">
            <form class="form">
                <h4>Sign-up 5</h4>
                <div class="input-group text-center">
                    <input type="text" class="form-control input-lg" placeholder="Enter your email address">
                    <span class="input-group-btn"><button class="btn btn-lg btn-primary" type="button">OK</button></span>
                </div>
            </form>
        </div>
    </div>

    <div class="col-md-2 col-sm-4 col-xs-6 masonry-card">
        <div class="well">
            <form class="form">
                <h4>Sign-up 6</h4>
                <div class="input-group text-center">
                    <input type="text" class="form-control input-lg" placeholder="Enter your email address">
                    <span class="input-group-btn"><button class="btn btn-lg btn-primary" type="button">OK</button></span>
                </div>
            </form>
        </div>
    </div>

    <div class="col-md-2 col-sm-4 col-xs-6 masonry-card">
        <div class="well">
            <form class="form">
                <h4>Sign-up 7</h4>
                <div class="input-group text-center">
                    <input type="text" class="form-control input-lg" placeholder="Enter your email address">
                    <span class="input-group-btn"><button class="btn btn-lg btn-primary" type="button">OK</button></span>
                </div>
            </form>
        </div>
    </div>

    <div class="col-md-2 col-sm-4 col-xs-6 masonry-card">
        <div class="well">
            <form class="form">
                <h4>Sign-up 8</h4>
                <div class="input-group text-center">
                    <input type="text" class="form-control input-lg" placeholder="Enter your email address">
                    <span class="input-group-btn"><button class="btn btn-lg btn-primary" type="button">OK</button></span>
                </div>
            </form>
        </div>
    </div>

    <div class="col-md-2 col-sm-4 col-xs-6 masonry-card">
        <div class="well">
            <form class="form">
                <h4>Sign-up 9</h4>
                <div class="input-group text-center">
                    <input type="text" class="form-control input-lg" placeholder="Enter your email address">
                    <span class="input-group-btn"><button class="btn btn-lg btn-primary" type="button">OK</button></span>
                </div>
            </form>
        </div>
    </div>

    <div class="col-md-2 col-sm-4 col-xs-6 masonry-card">
        <div class="well">
            <form class="form">
                <h4>Sign-up 10</h4>
                <div class="input-group text-center">
                    <input type="text" class="form-control input-lg" placeholder="Enter your email address">
                    <span class="input-group-btn"><button class="btn btn-lg btn-primary" type="button">OK</button></span>
                </div>
            </form>
        </div>
    </div>

    <div class="col-md-2 col-sm-4 col-xs-6 masonry-card">
        <div class="well">
            <form class="form">
                <h4>Sign-up 11</h4>
                <div class="input-group text-center">
                    <input type="text" class="form-control input-lg" placeholder="Enter your email address">
                    <span class="input-group-btn"><button class="btn btn-lg btn-primary" type="button">OK</button></span>
                </div>
            </form>
        </div>
    </div>

    <div class="col-md-2 col-sm-4 col-xs-6 masonry-card">
        <div class="well">
            <form class="form">
                <h4>Sign-up 12</h4>
                <div class="input-group text-center">
                    <input type="text" class="form-control input-lg" placeholder="Enter your email address">
                    <span class="input-group-btn"><button class="btn btn-lg btn-primary" type="button">OK</button></span>
                </div>
            </form>
        </div>
    </div>

    <div class="col-md-2 col-sm-4 col-xs-6 masonry-card">
        <div class="well">
            <form class="form">
                <h4>Sign-up 13</h4>
                <div class="input-group text-center">
                    <input type="text" class="form-control input-lg" placeholder="Enter your email address">
                    <span class="input-group-btn"><button class="btn btn-lg btn-primary" type="button">OK</button></span>
                </div>
            </form>
        </div>
    </div>

    <div class="col-md-2 col-sm-4 col-xs-6 masonry-card">
        <div class="well">
            <form class="form">
                <h4>Sign-up 14</h4>
                <div class="input-group text-center">
                    <input type="text" class="form-control input-lg" placeholder="Enter your email address">
                    <span class="input-group-btn"><button class="btn btn-lg btn-primary" type="button">OK</button></span>
                </div>
            </form>
        </div>
    </div>

    <div class="col-md-2 col-sm-4 col-xs-6 masonry-card">
        <div class="well">
            <form class="form">
                <h4>Sign-up 15</h4>
                <div class="input-group text-center">
                    <input type="text" class="form-control input-lg" placeholder="Enter your email address">
                    <span class="input-group-btn"><button class="btn btn-lg btn-primary" type="button">OK</button></span>
                </div>
            </form>
        </div>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6 masonry-card">
        <div class="well">
            <form class="form">
                <h4>Sign-up 1</h4>
                <div class="input-group text-center">
                    <input type="text" class="form-control input-lg" placeholder="Enter your email address">
                    <span class="input-group-btn"><button class="btn btn-lg btn-primary" type="button">OK</button></span>
                </div>
            </form>
        </div>
    </div>

    <div class="col-md-2 col-sm-4 col-xs-6 masonry-card">
        <div class="panel panel-default">
            <div class="panel-heading"><a href="#" class="pull-right">View all</a> <h4>Bootstrap Examples</h4></div>
            <div class="panel-body">
                <div class="list-group">
                    <a href="http://bootply.com/tagged/modal" class="list-group-item">Modal / Dialog</a>
                    <a href="http://bootply.com/tagged/datetime" class="list-group-item">Datetime Examples</a>
                    <a href="http://bootply.com/tagged/datatable" class="list-group-item">Data Grids</a>
                    <a href="http://bootply.com/tagged/datatable" class="list-group-item">Data Grids</a>
                    <a href="http://bootply.com/tagged/datatable" class="list-group-item">Data Grids</a>
                    <a href="http://bootply.com/tagged/datatable" class="list-group-item">Data Grids</a>
                    <a href="http://bootply.com/tagged/datatable" class="list-group-item">Data Grids</a>
                    <a href="http://bootply.com/tagged/datatable" class="list-group-item">Data Grids</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-2 col-sm-4 col-xs-6 masonry-card">
        <div class="panel panel-default">
            <div class="panel-heading"><a href="#" class="pull-right">View all</a> <h4>Bootstrap Examples</h4></div>
            <div class="panel-body">
                <div class="list-group">
                    <a href="http://bootply.com/tagged/modal" class="list-group-item">Modal / Dialog</a>
                    <a href="http://bootply.com/tagged/datetime" class="list-group-item">Datetime Examples</a>
                    <a href="http://bootply.com/tagged/datatable" class="list-group-item">Data Grids</a>
                    <a href="http://bootply.com/tagged/datatable" class="list-group-item">Data Grids</a>
                    <a href="http://bootply.com/tagged/datatable" class="list-group-item">Data Grids</a>
                    <a href="http://bootply.com/tagged/datatable" class="list-group-item">Data Grids</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-2 col-sm-4 col-xs-6 masonry-card">
        <div class="well">
            <form class="form">
                <h4>Sign-up 4</h4>
                <div class="input-group text-center">
                    <input type="text" class="form-control input-lg" placeholder="Enter your email address">
                    <span class="input-group-btn"><button class="btn btn-lg btn-primary" type="button">OK</button></span>
                </div>
            </form>
        </div>
    </div>

    <div class="col-md-2 col-sm-4 col-xs-6 masonry-card">
        <div class="well">
            <form class="form">
                <h4>Sign-up 5</h4>
                <div class="input-group text-center">
                    <input type="text" class="form-control input-lg" placeholder="Enter your email address">
                    <span class="input-group-btn"><button class="btn btn-lg btn-primary" type="button">OK</button></span>
                </div>
            </form>
        </div>
    </div>

    <div class="col-md-2 col-sm-4 col-xs-6 masonry-card">
        <div class="well">
            <form class="form">
                <h4>Sign-up 6</h4>
                <div class="input-group text-center">
                    <input type="text" class="form-control input-lg" placeholder="Enter your email address">
                    <span class="input-group-btn"><button class="btn btn-lg btn-primary" type="button">OK</button></span>
                </div>
            </form>
        </div>
    </div>

    <div class="col-md-2 col-sm-4 col-xs-6 masonry-card">
        <div class="well">
            <form class="form">
                <h4>Sign-up 7</h4>
                <div class="input-group text-center">
                    <input type="text" class="form-control input-lg" placeholder="Enter your email address">
                    <span class="input-group-btn"><button class="btn btn-lg btn-primary" type="button">OK</button></span>
                </div>
            </form>
        </div>
    </div>

    <div class="col-md-2 col-sm-4 col-xs-6 masonry-card">
        <div class="well">
            <form class="form">
                <h4>Sign-up 8</h4>
                <div class="input-group text-center">
                    <input type="text" class="form-control input-lg" placeholder="Enter your email address">
                    <span class="input-group-btn"><button class="btn btn-lg btn-primary" type="button">OK</button></span>
                </div>
            </form>
        </div>
    </div>

    <div class="col-md-2 col-sm-4 col-xs-6 masonry-card">
        <div class="well">
            <form class="form">
                <h4>Sign-up 9</h4>
                <div class="input-group text-center">
                    <input type="text" class="form-control input-lg" placeholder="Enter your email address">
                    <span class="input-group-btn"><button class="btn btn-lg btn-primary" type="button">OK</button></span>
                </div>
            </form>
        </div>
    </div>

    <div class="col-md-2 col-sm-4 col-xs-6 masonry-card">
        <div class="well">
            <form class="form">
                <h4>Sign-up 10</h4>
                <div class="input-group text-center">
                    <input type="text" class="form-control input-lg" placeholder="Enter your email address">
                    <span class="input-group-btn"><button class="btn btn-lg btn-primary" type="button">OK</button></span>
                </div>
            </form>
        </div>
    </div>

    <div class="col-md-2 col-sm-4 col-xs-6 masonry-card">
        <div class="well">
            <form class="form">
                <h4>Sign-up 11</h4>
                <div class="input-group text-center">
                    <input type="text" class="form-control input-lg" placeholder="Enter your email address">
                    <span class="input-group-btn"><button class="btn btn-lg btn-primary" type="button">OK</button></span>
                </div>
            </form>
        </div>
    </div>

    <div class="col-md-2 col-sm-4 col-xs-6 masonry-card">
        <div class="well">
            <form class="form">
                <h4>Sign-up 12</h4>
                <div class="input-group text-center">
                    <input type="text" class="form-control input-lg" placeholder="Enter your email address">
                    <span class="input-group-btn"><button class="btn btn-lg btn-primary" type="button">OK</button></span>
                </div>
            </form>
        </div>
    </div>

    <div class="col-md-2 col-sm-4 col-xs-6 masonry-card">
        <div class="well">
            <form class="form">
                <h4>Sign-up 13</h4>
                <div class="input-group text-center">
                    <input type="text" class="form-control input-lg" placeholder="Enter your email address">
                    <span class="input-group-btn"><button class="btn btn-lg btn-primary" type="button">OK</button></span>
                </div>
            </form>
        </div>
    </div>

    <div class="col-md-2 col-sm-4 col-xs-6 masonry-card">
        <div class="well">
            <form class="form">
                <h4>Sign-up 14</h4>
                <div class="input-group text-center">
                    <input type="text" class="form-control input-lg" placeholder="Enter your email address">
                    <span class="input-group-btn"><button class="btn btn-lg btn-primary" type="button">OK</button></span>
                </div>
            </form>
        </div>
    </div>

    <div class="col-md-2 col-sm-4 col-xs-6 masonry-card">
        <div class="well">
            <form class="form">
                <h4>Sign-up 15</h4>
                <div class="input-group text-center">
                    <input type="text" class="form-control input-lg" placeholder="Enter your email address">
                    <span class="input-group-btn"><button class="btn btn-lg btn-primary" type="button">OK</button></span>
                </div>
            </form>
        </div>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6 masonry-card">
        <div class="well">
            <form class="form">
                <h4>Sign-up 1</h4>
                <div class="input-group text-center">
                    <input type="text" class="form-control input-lg" placeholder="Enter your email address">
                    <span class="input-group-btn"><button class="btn btn-lg btn-primary" type="button">OK</button></span>
                </div>
            </form>
        </div>
    </div>

    <div class="col-md-2 col-sm-4 col-xs-6 masonry-card">
        <div class="panel panel-default">
            <div class="panel-heading"><a href="#" class="pull-right">View all</a> <h4>Bootstrap Examples</h4></div>
            <div class="panel-body">
                <div class="list-group">
                    <a href="http://bootply.com/tagged/modal" class="list-group-item">Modal / Dialog</a>
                    <a href="http://bootply.com/tagged/datetime" class="list-group-item">Datetime Examples</a>
                    <a href="http://bootply.com/tagged/datatable" class="list-group-item">Data Grids</a>
                    <a href="http://bootply.com/tagged/datatable" class="list-group-item">Data Grids</a>
                    <a href="http://bootply.com/tagged/datatable" class="list-group-item">Data Grids</a>
                    <a href="http://bootply.com/tagged/datatable" class="list-group-item">Data Grids</a>
                    <a href="http://bootply.com/tagged/datatable" class="list-group-item">Data Grids</a>
                    <a href="http://bootply.com/tagged/datatable" class="list-group-item">Data Grids</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-2 col-sm-4 col-xs-6 masonry-card">
        <div class="panel panel-default">
            <div class="panel-heading"><a href="#" class="pull-right">View all</a> <h4>Bootstrap Examples</h4></div>
            <div class="panel-body">
                <div class="list-group">
                    <a href="http://bootply.com/tagged/modal" class="list-group-item">Modal / Dialog</a>
                    <a href="http://bootply.com/tagged/datetime" class="list-group-item">Datetime Examples</a>
                    <a href="http://bootply.com/tagged/datatable" class="list-group-item">Data Grids</a>
                    <a href="http://bootply.com/tagged/datatable" class="list-group-item">Data Grids</a>
                    <a href="http://bootply.com/tagged/datatable" class="list-group-item">Data Grids</a>
                    <a href="http://bootply.com/tagged/datatable" class="list-group-item">Data Grids</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-2 col-sm-4 col-xs-6 masonry-card">
        <div class="well">
            <form class="form">
                <h4>Sign-up 4</h4>
                <div class="input-group text-center">
                    <input type="text" class="form-control input-lg" placeholder="Enter your email address">
                    <span class="input-group-btn"><button class="btn btn-lg btn-primary" type="button">OK</button></span>
                </div>
            </form>
        </div>
    </div>

    <div class="col-md-2 col-sm-4 col-xs-6 masonry-card">
        <div class="well">
            <form class="form">
                <h4>Sign-up 5</h4>
                <div class="input-group text-center">
                    <input type="text" class="form-control input-lg" placeholder="Enter your email address">
                    <span class="input-group-btn"><button class="btn btn-lg btn-primary" type="button">OK</button></span>
                </div>
            </form>
        </div>
    </div>

    <div class="col-md-2 col-sm-4 col-xs-6 masonry-card">
        <div class="well">
            <form class="form">
                <h4>Sign-up 6</h4>
                <div class="input-group text-center">
                    <input type="text" class="form-control input-lg" placeholder="Enter your email address">
                    <span class="input-group-btn"><button class="btn btn-lg btn-primary" type="button">OK</button></span>
                </div>
            </form>
        </div>
    </div>

    <div class="col-md-2 col-sm-4 col-xs-6 masonry-card">
        <div class="well">
            <form class="form">
                <h4>Sign-up 7</h4>
                <div class="input-group text-center">
                    <input type="text" class="form-control input-lg" placeholder="Enter your email address">
                    <span class="input-group-btn"><button class="btn btn-lg btn-primary" type="button">OK</button></span>
                </div>
            </form>
        </div>
    </div>

    <div class="col-md-2 col-sm-4 col-xs-6 masonry-card">
        <div class="well">
            <form class="form">
                <h4>Sign-up 8</h4>
                <div class="input-group text-center">
                    <input type="text" class="form-control input-lg" placeholder="Enter your email address">
                    <span class="input-group-btn"><button class="btn btn-lg btn-primary" type="button">OK</button></span>
                </div>
            </form>
        </div>
    </div>

    <div class="col-md-2 col-sm-4 col-xs-6 masonry-card">
        <div class="well">
            <form class="form">
                <h4>Sign-up 9</h4>
                <div class="input-group text-center">
                    <input type="text" class="form-control input-lg" placeholder="Enter your email address">
                    <span class="input-group-btn"><button class="btn btn-lg btn-primary" type="button">OK</button></span>
                </div>
            </form>
        </div>
    </div>

    <div class="col-md-2 col-sm-4 col-xs-6 masonry-card">
        <div class="well">
            <form class="form">
                <h4>Sign-up 10</h4>
                <div class="input-group text-center">
                    <input type="text" class="form-control input-lg" placeholder="Enter your email address">
                    <span class="input-group-btn"><button class="btn btn-lg btn-primary" type="button">OK</button></span>
                </div>
            </form>
        </div>
    </div>

    <div class="col-md-2 col-sm-4 col-xs-6 masonry-card">
        <div class="well">
            <form class="form">
                <h4>Sign-up 11</h4>
                <div class="input-group text-center">
                    <input type="text" class="form-control input-lg" placeholder="Enter your email address">
                    <span class="input-group-btn"><button class="btn btn-lg btn-primary" type="button">OK</button></span>
                </div>
            </form>
        </div>
    </div>

    <div class="col-md-2 col-sm-4 col-xs-6 masonry-card">
        <div class="well">
            <form class="form">
                <h4>Sign-up 12</h4>
                <div class="input-group text-center">
                    <input type="text" class="form-control input-lg" placeholder="Enter your email address">
                    <span class="input-group-btn"><button class="btn btn-lg btn-primary" type="button">OK</button></span>
                </div>
            </form>
        </div>
    </div>

    <div class="col-md-2 col-sm-4 col-xs-6 masonry-card">
        <div class="well">
            <form class="form">
                <h4>Sign-up 13</h4>
                <div class="input-group text-center">
                    <input type="text" class="form-control input-lg" placeholder="Enter your email address">
                    <span class="input-group-btn"><button class="btn btn-lg btn-primary" type="button">OK</button></span>
                </div>
            </form>
        </div>
    </div>

    <div class="col-md-2 col-sm-4 col-xs-6 masonry-card">
        <div class="well">
            <form class="form">
                <h4>Sign-up 14</h4>
                <div class="input-group text-center">
                    <input type="text" class="form-control input-lg" placeholder="Enter your email address">
                    <span class="input-group-btn"><button class="btn btn-lg btn-primary" type="button">OK</button></span>
                </div>
            </form>
        </div>
    </div>

    <div class="col-md-2 col-sm-4 col-xs-6 masonry-card">
        <div class="well">
            <form class="form">
                <h4>Sign-up 15</h4>
                <div class="input-group text-center">
                    <input type="text" class="form-control input-lg" placeholder="Enter your email address">
                    <span class="input-group-btn"><button class="btn btn-lg btn-primary" type="button">OK</button></span>
                </div>
            </form>
        </div>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6 masonry-card">
        <div class="well">
            <form class="form">
                <h4>Sign-up 1</h4>
                <div class="input-group text-center">
                    <input type="text" class="form-control input-lg" placeholder="Enter your email address">
                    <span class="input-group-btn"><button class="btn btn-lg btn-primary" type="button">OK</button></span>
                </div>
            </form>
        </div>
    </div>

    <div class="col-md-2 col-sm-4 col-xs-6 masonry-card">
        <div class="panel panel-default">
            <div class="panel-heading"><a href="#" class="pull-right">View all</a> <h4>Bootstrap Examples</h4></div>
            <div class="panel-body">
                <div class="list-group">
                    <a href="http://bootply.com/tagged/modal" class="list-group-item">Modal / Dialog</a>
                    <a href="http://bootply.com/tagged/datetime" class="list-group-item">Datetime Examples</a>
                    <a href="http://bootply.com/tagged/datatable" class="list-group-item">Data Grids</a>
                    <a href="http://bootply.com/tagged/datatable" class="list-group-item">Data Grids</a>
                    <a href="http://bootply.com/tagged/datatable" class="list-group-item">Data Grids</a>
                    <a href="http://bootply.com/tagged/datatable" class="list-group-item">Data Grids</a>
                    <a href="http://bootply.com/tagged/datatable" class="list-group-item">Data Grids</a>
                    <a href="http://bootply.com/tagged/datatable" class="list-group-item">Data Grids</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-2 col-sm-4 col-xs-6 masonry-card">
        <div class="panel panel-default">
            <div class="panel-heading"><a href="#" class="pull-right">View all</a> <h4>Bootstrap Examples</h4></div>
            <div class="panel-body">
                <div class="list-group">
                    <a href="http://bootply.com/tagged/modal" class="list-group-item">Modal / Dialog</a>
                    <a href="http://bootply.com/tagged/datetime" class="list-group-item">Datetime Examples</a>
                    <a href="http://bootply.com/tagged/datatable" class="list-group-item">Data Grids</a>
                    <a href="http://bootply.com/tagged/datatable" class="list-group-item">Data Grids</a>
                    <a href="http://bootply.com/tagged/datatable" class="list-group-item">Data Grids</a>
                    <a href="http://bootply.com/tagged/datatable" class="list-group-item">Data Grids</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-2 col-sm-4 col-xs-6 masonry-card">
        <div class="well">
            <form class="form">
                <h4>Sign-up 4</h4>
                <div class="input-group text-center">
                    <input type="text" class="form-control input-lg" placeholder="Enter your email address">
                    <span class="input-group-btn"><button class="btn btn-lg btn-primary" type="button">OK</button></span>
                </div>
            </form>
        </div>
    </div>

    <div class="col-md-2 col-sm-4 col-xs-6 masonry-card">
        <div class="well">
            <form class="form">
                <h4>Sign-up 5</h4>
                <div class="input-group text-center">
                    <input type="text" class="form-control input-lg" placeholder="Enter your email address">
                    <span class="input-group-btn"><button class="btn btn-lg btn-primary" type="button">OK</button></span>
                </div>
            </form>
        </div>
    </div>

    <div class="col-md-2 col-sm-4 col-xs-6 masonry-card">
        <div class="well">
            <form class="form">
                <h4>Sign-up 6</h4>
                <div class="input-group text-center">
                    <input type="text" class="form-control input-lg" placeholder="Enter your email address">
                    <span class="input-group-btn"><button class="btn btn-lg btn-primary" type="button">OK</button></span>
                </div>
            </form>
        </div>
    </div>

    <div class="col-md-2 col-sm-4 col-xs-6 masonry-card">
        <div class="well">
            <form class="form">
                <h4>Sign-up 7</h4>
                <div class="input-group text-center">
                    <input type="text" class="form-control input-lg" placeholder="Enter your email address">
                    <span class="input-group-btn"><button class="btn btn-lg btn-primary" type="button">OK</button></span>
                </div>
            </form>
        </div>
    </div>

    <div class="col-md-2 col-sm-4 col-xs-6 masonry-card">
        <div class="well">
            <form class="form">
                <h4>Sign-up 8</h4>
                <div class="input-group text-center">
                    <input type="text" class="form-control input-lg" placeholder="Enter your email address">
                    <span class="input-group-btn"><button class="btn btn-lg btn-primary" type="button">OK</button></span>
                </div>
            </form>
        </div>
    </div>

    <div class="col-md-2 col-sm-4 col-xs-6 masonry-card">
        <div class="well">
            <form class="form">
                <h4>Sign-up 9</h4>
                <div class="input-group text-center">
                    <input type="text" class="form-control input-lg" placeholder="Enter your email address">
                    <span class="input-group-btn"><button class="btn btn-lg btn-primary" type="button">OK</button></span>
                </div>
            </form>
        </div>
    </div>

    <div class="col-md-2 col-sm-4 col-xs-6 masonry-card">
        <div class="well">
            <form class="form">
                <h4>Sign-up 10</h4>
                <div class="input-group text-center">
                    <input type="text" class="form-control input-lg" placeholder="Enter your email address">
                    <span class="input-group-btn"><button class="btn btn-lg btn-primary" type="button">OK</button></span>
                </div>
            </form>
        </div>
    </div>

    <div class="col-md-2 col-sm-4 col-xs-6 masonry-card">
        <div class="well">
            <form class="form">
                <h4>Sign-up 11</h4>
                <div class="input-group text-center">
                    <input type="text" class="form-control input-lg" placeholder="Enter your email address">
                    <span class="input-group-btn"><button class="btn btn-lg btn-primary" type="button">OK</button></span>
                </div>
            </form>
        </div>
    </div>

    <div class="col-md-2 col-sm-4 col-xs-6 masonry-card">
        <div class="well">
            <form class="form">
                <h4>Sign-up 12</h4>
                <div class="input-group text-center">
                    <input type="text" class="form-control input-lg" placeholder="Enter your email address">
                    <span class="input-group-btn"><button class="btn btn-lg btn-primary" type="button">OK</button></span>
                </div>
            </form>
        </div>
    </div>

    <div class="col-md-2 col-sm-4 col-xs-6 masonry-card">
        <div class="well">
            <form class="form">
                <h4>Sign-up 13</h4>
                <div class="input-group text-center">
                    <input type="text" class="form-control input-lg" placeholder="Enter your email address">
                    <span class="input-group-btn"><button class="btn btn-lg btn-primary" type="button">OK</button></span>
                </div>
            </form>
        </div>
    </div>

    <div class="col-md-2 col-sm-4 col-xs-6 masonry-card">
        <div class="well">
            <form class="form">
                <h4>Sign-up 14</h4>
                <div class="input-group text-center">
                    <input type="text" class="form-control input-lg" placeholder="Enter your email address">
                    <span class="input-group-btn"><button class="btn btn-lg btn-primary" type="button">OK</button></span>
                </div>
            </form>
        </div>
    </div>

    <div class="col-md-2 col-sm-4 col-xs-6 masonry-card">
        <div class="well">
            <form class="form">
                <h4>Sign-up 15</h4>
                <div class="input-group text-center">
                    <input type="text" class="form-control input-lg" placeholder="Enter your email address">
                    <span class="input-group-btn"><button class="btn btn-lg btn-primary" type="button">OK</button></span>
                </div>
            </form>
        </div>
    </div>
</div><!--/row-->